<!DOCTYPE html>
<html>
<head>
    <title>Events</title>
</head>
<body>
    <%= @events.count %> events.
    <ul>
        <% @events.each do |event| %>
            <li>
            <% event.attributes.each do |k,v| %> 
                <%=  k %>: <% if v.class.name == "Time" %><%= tzconvert(v) %><% else %><%= v %><% end %><br> 
            <% end %> 
            | dtstart: <%= tzconvert(event.dtstart) %>
            </li>
        <% end %>
    </ul>
</body>
</html>