<%= @prefs_message %>
<ul>
    <% @loggedin.attributes.each do |k,v| %>
        <li> <%= k %>: <%= v %> </li>
    <% end %> 
</ul>

<% if @loggedin.admin %>
<p><a href='/admin'>admin page</a> </p>
<% end %>

<form method="POST" action="/prefs">
  <p>Timezone:
  <select name="timezone">
  <% @timezones.each do |tz|  %>
    <option <%= "selected" if tz.name == @loggedin.timezone %> value="<%= tz.name %>"><%= tz.name %> : <%= tz.formatted_offset(false) %> <%#= tz.tzinfo %></option>
  <% end %>
  </select>

  <% if not @loggedin.password.nil? %>
  <p>Password: <input type="text" name="password" value="<%= @loggedin.password %>"></p>
  <% end %> 
  <input type="submit">
</form>