<form method="POST" action="/event/new">
  <p> dtstart: <input type="datetime-local" name="dtstart"></p>
  <p> dtend: <input type="datetime-local" name="dtend"></p>
  <p> building: <input type="text" name="building"></p>
  <p> hostname: <input type="text" name="hostname"></p>
  <p> building: <select name="building"><% @buildings.each do |b| %><option value="<%= b.name %>"><%= b.description %></option><% end %></select> </p>
  <p> enterprise: <select name="enterprise"><option value=true>true</option><option value=false>false</option></select>
  <p> description: <input type="text" name="description"></p>
  <p> ticketno: <input type="text" name="ticketno"></p>
  <p> helpdesk: <select name="helpdesk"><% @helpdesks.each do |h| %><option value="<%= h.name %>"><%= h.name %></option><% end %></select> </p>
  <p> downtime: <select name="downtime"><option value=true>true</option><option value=false>false</option></select>
  <input type='hidden' name='submitip' value="<%= @loggedin.name %>">
  <p> <input type="submit">
</form>

t.datetime "dtstart" 
t.datetime "dtend"
t.string "submitip"
t.string "building"
t.string "hostname"
t.boolean "enterprise"
t.text "description"
t.string "ticketno"
t.string "helpdesk"
t.boolean "downtime"